/* General Styles */

html {
  background: url(colourbackground.png) center center/cover no-repeat fixed;
  box-sizing: border-box;
  background-color: black;
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 1100px;
  min-width: 720px;
  width: 100%;
  min-height: 100%;
  color: white;
  background-color: rgba(25, 60, 95, 0.6);
}

/* Header Styles */

header {
  height: 12rem;
  width: 100%;
}

img#logo {
  display: flex;
  height: 100%;
  width: 100%;
}

nav#tabs ul {
  display: flex;
  flex-flow: row nowrap;
}

nav#tabs li {
  flex: 1 1 auto;
  background-color: rgba(8, 59, 27, 0.6);
  letter-spacing: 3px;
  line-height: 30px;
  text-align: center;
}

nav#tabs li a {
  color: white;
}

nav#tabs li:hover {
  background-color: rgba(25, 95, 52, 0.6);
}

/* Main Content Styles */

h1, h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
}

section#self p {
  padding: 1em;
  margin: 0 5em;
}

section#self {
  display: flex;
  flex-flow: row nowrap;
  margin: 5em auto;
  width: 100%;
  height: auto;
}

img#me {
  flex: 1 2 auto;
  width: 30%;
  height: auto;
  margin-left: 5em;
  border-radius: 10%;
}

article#self {
  flex: 1 1 auto;
  margin: 5em auto;
  width: 60%;
}

section#partners {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
}

section#partners h1{
  line-height: normal;
  padding: 1em;
  margin: 0 auto;
  width: 40%;
}

div.kaylaArchie p{
  margin: 1em auto;
}

div.kaylaArchie{
  flex-flow: column nowrap;
  margin: 0 ;
  width: 30%;
  padding: 1em;
}

figure > img.partners {
  flex: 1 2 auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10%;
}

article#welcome {
  margin: 50px 150px;
}

figcaption{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* Gallery styles*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}




/* Social Link Styles */

div#socials {
  margin: auto;
}

.fa {
  display: flex;
  flex: row nowrap;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-steam {
  background-color: white;
  background-image: url(steam.png) cover no-repeat;
}

footer {
  margin-top: 10em;
  order: 99;
  width: 100%;
  height: auto;
  background-color: rgba(8, 59, 27, 0.6);
  text-align: center;
}
