/* General Layout */

html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1em 1em;
  width: 100%;
  margin-top: auto;
}

hr {
  width: 100%;
}

h1,
h2 {
  margin: auto;
  font-size: 2em;
  padding: 0.5em;
  width: 100%;
}

p {
  padding: 0.5em;
}

/* Header Layout */

img#logo {
  display: block;
  width: 70%;
  margin: auto;
  padding: 1em;
}

nav#tabs{
  width: 100%;
  margin: auto;
}

nav#tabs ul {
 display: flex;
 flex-flow: row wrap;
 width: 100%;
}

nav#tabs ul li {
  flex: auto;
}

/* Footer Layout */

footer div {
  flex: auto;
  width: 33%;
}

div#links ul {
  display: flex;
  flex-flow: row wrap;
}

footer ul li {
  flex: auto;
}

img.socials {
  flex: auto;
  width: 2em;
}

/* Landing Page */

article#welcome {
  width: 80%;
  margin: auto;
  padding: 1em;
}

article#welcome p{
  padding: 0 2em 0 2em;
}

/* About Me Page Layout */

section#self {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 1em auto;
  padding: 1em 2em;
}

img#me {
  flex: auto;
  width: 30%;
}

article#aboutme {
  flex: auto;
  padding: 1em;
  width: 60%;
}

section#partners {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

div.kaylaArchie {
  flex: auto;
  width: 50%;
}

div.kaylaArchie figure {
  flex: auto;
  width: 60%;
  margin: auto;
}

div.kaylaArchie p {
  flex: auto;
  width: 75%;
  margin: auto;
}

img.partners {
  flex: auto;
  width: 100%;
}

section#adventures {
  width: 90%;
  margin: 1em auto;
}

/* Gallery styles*/

.row {
  display: flex;
  flex-flow: row wrap;
  padding: 0 3px;
}

.column {
  flex: 1 1 auto;
  max-width: 25%;
  height: 100%;
  padding: 0 3px;
}

.column img {
  border-radius: 5%;
  margin-top: 6px;
  vertical-align: middle;
  width: 100%;
}

/* Portfolio Page */

section#intro {
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  padding: 2em;
  width: 90%;
}

div#blurb {
  width: 75%;
  padding: 1em;
}

div#skills {
  display: flex;
  flex-flow: row wrap;
  width: 25%;
  margin: auto;
  padding: 1em;
}

div#skills h3 {
  margin-bottom: 1em;
}

section.portfolio {
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  width: 90%;
}

section.portfolio div {
  flex-flow: column wrap;
  flex: 1 1 auto;
}

div.text {
  flex: 1 1 auto;
  width: 40%;
  padding: 2em;
}

div.examples {
  flex: 1 1 auto;
  width: 30%;
  padding: 2em;
}

div.examples img {
  flex: 1 1 auto;
  width: 100%;
}

/* Game Room */

section#topthree {
  width: 100%;
  margin: 5em auto;
}

/* Contact Page */

section#schedule {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 1em auto;
}

section#schedule h1{
  padding: 1em;
}

div#contact {
  flex: 1 1 auto;
  width: 40%;
  margin: auto;
  padding: 1em;
}

div#contact figure {
  flex: 1 1 auto;
  width: 40%;
  margin: auto;
}

div.methods {
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  width: 90%;
}

img#headshot {
  width: 100%;
}

table#calendar {
  flex: 1 1 auto;
  width: 60%;
}

table#calendar td {
  padding: 0 1em 1em 0.5em;
}

/* Form Layout */

form#request {
  width: 90%;
  margin: 1em auto;
}

fieldset#details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
}

div#fColumn1 {
  flex: 1 1 auto;
  width: 25%;
}

div#fColumn2 {
  flex: 1 1 auto;
  width: 25%;
}

div#fColumn3 {
  flex: 1 1 auto;
  width: 50%;
}

div.fRow {
  flex: 1 1 auto;
  width: 90%;
  padding: 0.5em;
}

textarea {
  flex: 1 1 auto;
  width: 100%;
  height: 10em;
}

div#buttons {
  flex: 1 1 auto;
  width: 40%;
  margin-left: auto;
}

/*Responsive Features*/

@media screen and (max-width: 769px) {
  .column {
    flex: 1 2 auto;
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
    
  /* General */

  nav#tabs li {
    width: 50%;
  }

  /* Landing Page */

  article#welcome h1, article#welcome p{
    padding: 1em 0;
  }

  /* About Me Page */

  img#me {
    width: 100%;
    height: 50%;
    padding: 0em;
  }

  div.kaylaArchie {
    width: 100%;
  }

  .column {
    flex: 2 1 auto;
    max-width: 100%;
  }

  /* Portfolio Page */

  div#blurb {
    width: 100%;
  }

  div#blurb p {
    padding: 1em 0;
    width: 100%;
  }

  div#skills {
    width: 100%;
  }

  section.portfolio div {
    width: 100%;
  }

  /* Contact page */

  div#contact {
    order: 1;
  }

  table#calendar {
    order: 2;
    width: 100%;
  }

  fieldset#details {
    flex-flow: column nowrap;
  }

  div#fColumn1,
  div#fColumn2,
  div#fColumn3 {
    width: 100%;
  }

  div.fRow {
    width: 100%;
  }

  div#buttons {
    width: 100%;
  }
}
