/* General Layout */

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  min-height: 100%;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

header {
  height: 10em;
  width: 100%;
  margin: 0em auto 5em;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 5em;
  padding: 1em 1em;
  width: 100%;
  height: auto;
}

hr {
  width: 100%;
}

h1,
h2 {
  margin: auto;
  font-size: 2em;
  padding: 0.5em;
  width: 100%;
}

p {
  padding: 0.5em;
}

/* Header Layout */

img#logo {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

nav#tabs ul {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

nav#tabs li {
  flex: 1 1 auto;
  width: 25%;
}

/* Footer Layout */

footer div {
  flex: 1 1 auto;
  width: 33%;
}

div#links ul {
  display: flex;
  flex-flow: row wrap;
}

footer ul li {
  flex: 1 1 auto;
}

.fa {
  flex: 1 1 auto;
  width: 2em;
  margin: auto;
  padding: 0.5em;
}

/* Landing Page */

article#welcome {
  margin: auto;
  padding: 5em;
}

/* About Me Page Layout */

section#self {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
  padding: 1em 2em;
}

img#me {
  flex: 1 1 auto;
  margin: auto;
  width: 30%;
}

article#aboutme {
  flex: 1 1 auto;
  margin: auto;
  padding: 1em;
  width: 60%;
}

section#partners {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

section#partners h1 {
  width: 100%;
  margin: auto;
}

div.kaylaArchie {
  flex: 1 1 auto;
  width: 50%;
  padding: 1em;
  margin: 0em auto;
}

div.kaylaArchie figure{
  flex: 1 1 auto;
  width: 60%;
  margin: auto;
}

div.kaylaArchie p{
  flex: 1 1 auto;
  width: 75%;
  margin: auto;
}

img.partners {
  flex: 1 1 auto;
  width: 100%;
  margin: auto;
}

section#adventures {
  width: 90%;
  margin: auto;
}

section#adventures h1 {
  text-align: left;
}

/* Gallery styles*/

.row {
  display: flex;
  flex-flow: row wrap;
  padding: 0 3px;
}

.column {
  flex: 1 1 auto;
  max-width: 25%;
  height: 100%;
  padding: 0 3px;
}

.column img {
  border-radius: 5%;
  margin-top: 6px;
  vertical-align: middle;
  width: 100%;
}

/* Portfolio Page */

div#intro {
  margin: 1em auto;
  width: 80%;
}

section.portfolio {
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  margin: 1em auto;
  width: 90%;
}

section.portfolio h1 {
  text-align: left;
}

section.portfolio div {
  flex-flow: column wrap;
  flex: 1 1 auto;
  margin: 0em auto;
}

div.text {
  flex: 1 1 auto;
  width: 40%;
  height: auto;
  margin: auto;
  padding: 2em;
}

div.examples {
  flex: 1 1 auto;
  width: 20%;
  height: auto;
  margin: auto;
  padding: 2em;
}

div.examples img {
  flex: 1 1 auto;
  width: 100%;
  margin: 0em auto;
}

/* Game Room */

section#topthree {
  width: 100%;
  margin: 5em auto;
}

section#topthree h1 {
  text-align: center;
}

/* Contact Page */

section#schedule {
  display: flex;
  width: 90%;
  margin: 5em auto;
}

section#schedule h1 {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
}

section#schedule p {
  margin: 1em auto;
}

section#schedule article {
  width: 80%;
  text-align: center;
  margin: auto;
}

div#table {
  flex: 1 1 auto;
  width: 60%;
}

div#contact {
  flex: 1 1 auto;
  width: 40%;
  height: auto;
}

div#contact article a {
  text-decoration: none;
  color: white;
}

div#contact article a:hover {
  color: rgba(25, 95, 52, 0.6);
}

div#contact figure {
  flex: 1 1 auto;
  width: 40%;
  margin: auto;
}

div#methods {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
  width: 100%;
  background-color: rgba(25, 60, 95, 0.6);
  border: solid rgb(15, 38, 61);
  border-radius: 10%/17%;
}

img#headshot {
  width: 100%;
  border-radius: 50%/50%;
}

table#calendar {
  width: 90%;
  margin: auto;
  background: rgba(25, 60, 95, 0.4);
  border: solid rgb(15, 38, 61);
}

table#calendar th,
td {
  border: solid rgb(15, 38, 61);
  line-height: 3em;
}

table#calendar td {
  padding: 0 1em 1em 0.5em;
}

table#calendar td:hover {
  background-color: rgba(25, 95, 52, 0.6);
}

/* Form Styles */

section#form {
  width: 90%;
  height: auto;
  margin: 1em auto;
}

section#form p {
  margin-bottom: 0.5em;
}

fieldset#details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-size: 0.85em;
  margin: auto;
  border: solid rgb(15, 38, 61);
  background-color: rgba(25, 60, 95, 0.7);
}

div#fColumn1 {
  flex: 1 1 auto;
  width: 25%;
  margin: auto;
}

div#fColumn2 {
  flex: 1 1 auto;
  width: 25%;
  margin: auto;
  text-align: center;
}

div#fColumn2 > div.fRow {
  flex-flow: row wrap;
}

div#fColumn3 {
  flex: 1 1 auto;
  width: 50%;
  margin: auto;
}

div.fRow {
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: 0.5em auto;
}

textarea {
  flex: 1 1 auto;
  width: 100%;
  height: 10em;
}

div#buttons {
  flex-flow: row wrap;
  flex: 1 1 auto;
  width: 40%;
  margin: auto;
}

input,
textarea,
select {
  background-color: rgba(185, 188, 190, 0.7);
}

input.press {
  background-color: white;
}

input:hover,
textarea:hover,
select:hover,
input.press:hover {
  background-color: rgba(25, 95, 52, 0.6);
}

/*Responsive Features*/

@media screen and (max-width: 769px) {
  .column {
    flex: 1 2 auto;
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  
  .column {
    flex: 2 1 auto;
    max-width: 100%;
  }

  nav#tabs li{
    width: 50%;
  }

  img#me{
    width: 100%;
  }

  div.kaylaArchie{
    width: 100%;
  }

}
